// colors
$accent: #b4f299;
$black: #05030e;
$gap: 4.5rem;

%box {
  position: relative;
  z-index: 1;
  border-radius: 2rem;
  background: linear-gradient(139.69deg, #05030e 3.61%, #7ee8a0 114.72%);

  &::before {
    content: '';
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    bottom: 0.1rem;
    left: 0.1rem;
    z-index: -1;
    background-color: $black;
    border-radius: 2rem;
  }
}

%text-12 {
  font-size: 1.2rem;
}

%text-14 {
  font-size: 1.4rem;
}

%text-16 {
  font-size: 1.6rem;
}

%text-18 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

%text-24 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

%text-26 {
  font-size: 2.6rem;
  line-height: 3.2rem;
}

%text-34 {
  font-size: 3.4rem;
  line-height: 4.1rem;
  font-weight: 800;
}

%vertical-align {
  display: flex;
  align-items: center;
}

%flex-center {
  @extend %vertical-align;
  justify-content: center;
}

%flex-row {
  display: flex;
  justify-content: space-between;
}

%flex-row-center {
  @extend %flex-row;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-col-center {
  @extend %flex-col;
  align-items: center;
}

%pos-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%pos-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%pos-center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}